body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  /* 3D background */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
  }
 
  

  #oil-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  /* Hero Section  */
  .jumbotron {
    height: 100vh; /* Increase the height of the jumbotron */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: center;
    background-image: url('images/home.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .jumbotron h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  
  .jumbotron p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .jumbotron .btn {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }

  /* Problem-Solution  */
  .problem-solution {
    background-color: black;
    padding: 3rem 0;
    text-align: center;
  }
  
  .problem-solution h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .problem-solution p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .problem-solution .btn {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }


  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .blockquote {
    font-size: 1.25rem;
  }
  
  /* Testimonial Section */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
  }
  
.carousel-inner {
    width: 80%;
    margin: auto;
}

/* Background Overlay */
.content-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }

  /* Color scheme */
  .red {
    color: #FF0000;
  }
  
  .black {
    color: #000000;
  }
  
  .white {
    color: #FFFFFF;
  }
  
